# JVM crash related
core.*
hs_err_pid*

# IntelliJ IDEA
*.iml
.idea/
out/

# Eclipse
.classpath
.project
.settings

# Maven
target/
dependency-reduced-pom.xml

# Gradle
!gradle-wrapper.jar
.gradle/
build/
*/build/
